<% if logged_in? %>
  <p>ログイン完了ユーザ: <%= current_user.name %></p>
  <div class="row">
    <aside class="col-md-4">
      <p>jobs</p>
      <%= link_to '新規投稿', new_job_path, class: "btn btn-primary " %>
      <P>foods</P>
      <%= link_to '新規投稿', new_food_path, class: "btn btn-primary " %>
  </div>
    </aside>
</div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the My app</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>